---
import img1 from "../../../public/img/about/img1.png";
import img2 from "../../../public/img/about/img2.png";
import img3 from "../../../public/img/about/img3.png";
import arrow from "../../../public/img/about/arrow.svg";
import "./more.scss"
---

<section class="more">
    <div class="more__container">
        <div class="more__item">
            <img src={img1} alt="img">
            <div class="more__item-btn">
                <span>Подробнее</span>
                <img src={arrow} alt="arrow" />
            </div>
        </div>
        <div class="more__item">
            <img src={img2} alt="img">
            <div class="more__item-btn">
                <span>Подробнее</span>
                <img src={arrow} alt="arrow" />
            </div>
        </div>
        <div class="more__item">
            <img src={img3} alt="img">
            <div class="more__item-btn">
                <span>Подробнее</span>
                <img src={arrow} alt="arrow" />
            </div>
        </div>
    </div>
</section>